/.idea
/ultralytics/wandb
/ultralytics/assets
/base_model
/datasets_splits/format_change.py
/dataSets/extrat.py
**/__pycache__
*.sh
/test
/caches/*
/train_output/log_rank0.txt
*.csv
*.png
*.jpg
*.zip
input
.DS_Store
/Yolo-model/yolov8n.pt
__pycache__/